<html lang="en" ng-app="robot" manifest="cache.manifest">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="initial-scale=1" />
    <meta name="apple-mobile-web-app-title" content="eeArm">
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
    <meta name='format-detection' content='telephone=no'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <style>
        body {
            font-size: 1.2em;
        }

        .control {
            height: 60px;
            line-height:60px;
        }
        md-toolbar {
            position: fixed;
        }
        .status {
            padding-top: 20px;
            justify-content: center;
            padding-bottom: 20px;
        }

        .control-label {
            font-weight: bold;
        }

            .control-label > span {
                width: 100%;
                text-align: center;
            }

        .control-button > button {
            width: 100%;
        }

        #macro-controls {
            padding-top: 10px;
        }

            #macro-controls > button {
                line-height: 60px;
            }
    </style>
</head>
<body ng-controller="robot-controller">

    <div layout="column" layout-fill>
        <md-toolbar >
            <div class="md-toolbar-tools">
                <span style="margin-bottom: -15px">eeArm</span>
                <span flex></span>
                <div layout="center center" class="status" style="margin-bottom: -15px">
                   <div id="status-meter" style="background-color: #F44336; border-radius: 100%; width: 25px; height: 25px"></div>
                </div>
            </div>
        </md-toolbar>
        <md-content style="margin-top: 70px">
            <div layout="center" class="control">
                <div flex="30" layout="center center" class="control-label"><span>Base</span></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="baseRotateLeft()">Left</md-button></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="baseRotateRight()">Right</md-button></div>
            </div>
            <div layout="center" class="control">
                <div flex="30" layout="center center" class="control-label"><span>Body</span></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="bodyMoveBackward()">Back</md-button></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="bodyMoveForward()">Forward</md-button></div>
            </div>
            <div layout="center" class="control">
                <div flex="30" layout="center center" class="control-label"><span>Neck</span></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="neckMoveUp()">Up</md-button></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="neckMoveDown()">Down</md-button></div>
            </div>
            <div layout="center" class="control">
                <div flex="30" layout="center center" class="control-label"><span>Claw</span></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="clawOpen()">Open</md-button></div>
                <div flex="35" layout="center center" class="control-button"><md-button md-no-ink class="md-primary" ng-click="clawClose()">Close</md-button></div>
            </div>
            <div id="macro-controls" layout="column">
                <md-button md-no-ink class="md-primary" ng-click="saveStep()">Save Step</md-button>
                <md-button md-no-ink class="md-primary" ng-click="clearStep()">Delete Last Step</md-button>
                <md-button md-no-ink class="md-primary" ng-click="clearSteps()">Clear Steps</md-button>
                <md-button md-no-ink class="md-primary" ng-click="goStart()">Go To Start</md-button>
                <md-button md-no-ink class="md-primary" ng-click="playSteps()">Play</md-button>
            </div>
        </md-content>
    </div>

    <script src="/lib.js"></script>
    <script>
        var app = angular.module('robot', ['ngMaterial']);

        app.controller('robot-controller', ['$scope', function ($scope, $mdSidenav) {
            var busy = false;
            var robot = {};
            var increment = 10;
            var clawIncrement = 5;
            var host = "http://192.168.4.1";

            var setRobotState = function (data) {
                robot.Base = data.base;
                robot.Body = data.body;
                robot.Neck = data.neck;
                robot.Claw = data.claw;
            }
            var sendRobotCommand = function (robot) {
                busy = true;
                $.get(host + "/arm",
                 { base: robot.Base, body: robot.Body, neck: robot.Neck, claw: robot.Claw },
                 function (data) {
                     setRobotState(data);
                 });
                busy = false;
            };
            var queueRobotCommand = function (robot, steps, delay) {
                busy = true;
                $.get(host + "/add",
                 {
                     base: robot.Base, body: robot.Body, neck: robot.Neck,
                     claw: robot.Claw, steps: steps, delay: delay
                 });
                busy = false;
            };
            var queueRobotCommand = function (robot, steps, delay) {
                busy = true;
                $.get(host + "/add",
                 {
                     base: robot.Base, body: robot.Body, neck: robot.Neck,
                     claw: robot.Claw, steps: steps, delay: delay
                 });
                busy = false;
            };
            var clearLastRobotCommand = function () {
                busy = true;
                $.get(host + "/pop");
                busy = false;
            };
            var clearRobotCommands = function () {
                busy = true;
                $.get(host + "/clear");
                busy = false;
            };
            var playRobotCommands = function () {
                busy = true;
                $.get(host + "/go", null, function (data) {
                    setRobotState(data);
                });
                busy = false;
            };

            var goToStart = function () {
                busy = true;
                $.get(host + "/gostart", null, function (data) {
                    setRobotState(data);
                });
                busy = false;
            };
            $.get(host + "/arm", null, function (data) {
                setRobotState(data);

                $('#status-meter').css('background-color', '#76FF03');

                $scope.baseRotateRight = function () {
                    if ((robot.Base - increment) < 0 || busy) {
                        return;
                    }
                    robot.Base -= increment;
                    sendRobotCommand(robot)
                };
                $scope.baseRotateLeft = function () {
                    if ((robot.Base + increment) > 180 || busy) {
                        return;
                    }
                    robot.Base += increment;
                    sendRobotCommand(robot)
                };

                $scope.bodyMoveForward = function () {
                    if ((robot.Body + increment) > 180 || busy) {
                        return;
                    }
                    robot.Body += increment;
                    sendRobotCommand(robot)
                };
                $scope.bodyMoveBackward = function () {
                    if ((robot.Body - increment) < 0 || busy) {
                        return;
                    }
                    robot.Body -= increment;
                    sendRobotCommand(robot)
                }

                $scope.neckMoveUp = function () {
                    if ((robot.Neck + increment) > 180 || busy) {
                        return;
                    }
                    robot.Neck += increment;
                    sendRobotCommand(robot)
                };
                $scope.neckMoveDown = function () {
                    if ((robot.Neck - increment) < 0 || busy) {
                        return;
                    }
                    robot.Neck -= increment;
                    sendRobotCommand(robot)
                };

                $scope.clawOpen = function () {
                    if ((robot.Claw - clawIncrement) < 0 || busy) {
                        return;
                    }
                    robot.Claw -= clawIncrement;
                    sendRobotCommand(robot)
                };
                $scope.clawClose = function () {
                    if ((robot.Claw + clawIncrement) > 180 || busy) {
                        return;
                    }
                    robot.Claw += clawIncrement;
                    sendRobotCommand(robot)
                };

                $scope.saveStep = function () {
                    queueRobotCommand(robot, 0, 500);
                };

                $scope.clearStep = function () {
                    clearLastRobotCommand();
                };

                $scope.clearSteps = function () {
                    clearRobotCommands();
                };

                $scope.playSteps = function () {
                    playRobotCommands();
                };

                $scope.goStart = function () {
                    goToStart();
                };
            })
        }]);

    </script>
</body>
</html>
